<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COVID-19 | USA</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/about.css' %}">
</head>
<body>
    <div class="header">
        <div class="title">COVID-19 IN THE USA</div>
    </div>
    <div class="main">
        <div class="button" onclick="app()">TO APPLICATION</div>
        <div class="temp">
            <div class="title">ABOUT</div>
            <div class="text">Writers write descriptive paragraphs because their purpose is to describe something.
                Their point is that something is beautiful or disgusting or strangely intriguing.
                Writers write persuasive and argument paragraphs because their purpose is to persuade or
                convince someone. Their point is that their reader should see things a particular way and possibly
                take action on that new way of seeing things. Writers write paragraphs of comparison because the
                comparison will make their point clear to their readers.</div>
        </div>
        <div class="temp">
            <div class="title">DATA</div>
            <div class="text">Writers write descriptive paragraphs because their purpose is to describe something.
                Their point is that something is beautiful or disgusting or strangely intriguing.
                Writers write persuasive and argument paragraphs because their purpose is to persuade or
                convince someone. Their point is that their reader should see things a particular way and possibly
                take action on that new way of seeing things. Writers write paragraphs of comparison because the
                comparison will make their point clear to their readers.</div>
        </div>
        <div class="temp">
            <div class="title">TOOLS</div>
            <div class="text">Writers write descriptive paragraphs because their purpose is to describe something.
                Their point is that something is beautiful or disgusting or strangely intriguing.
                Writers write persuasive and argument paragraphs because their purpose is to persuade or
                convince someone. Their point is that their reader should see things a particular way and possibly
                take action on that new way of seeing things. Writers write paragraphs of comparison because the
                comparison will make their point clear to their readers.</div>
        </div>
    </div>
    <div class="footer">
        <div class="title">ANDRII YAKOVENKO | FINAL PROJECT | VISUAL ANALYTICS | M2 BIG DATA MANAGEMENT & ANALYTICS |
            CENTRALESUPÉLEC | 2020-2021</div>
    </div>
</body>
</html>
<script type="text/javascript" src="{% static 'polls/about.js' %}"></script>